<div id="container">
	<h2>Recipe Box</h2>
	<% @recipe.each do |recipe| %>
	<%= link_to recipe.title, recipe_path(recipe) %>
	<br>
	<% end %>
	<br>
<%=link_to 'Add a recipe', new_recipe_path %>

</div>