<div id="container">
	<% @recipe.each do |recipe| %>
	<%= recipe.title %>
	<%=link_to 'View', recipe_path(recipe) %>
<%#= recipe.body %>
	<br>
	<% end %>

<%=link_to 'Add a recipe', new_recipe_path %>

</div>