html {
background-image: url("../assets/bground.jpg");
-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	text-align: center;
	margin-left: -1%;
	margin-right: -1%;
	margin-bottom: -1%;
font-family: Arial, sans-serif;
}

#container {
	margin: 90px auto;
	width: 35%;
	height: 300px;
	background-color: #fff;
	opacity: .7;
	color: #333;
	padding-top: 10px;
}
#container a {
	text-decoration: none;
}
#container a:hover {
			color: #1C162C;
			font-weight: bolder;
		}	

#title input{
	width: 240px;
}
#text-box input{
	height: 150px;
	width: 240px;
}
.button input{
	background-color: #333;
	color: #fff;
	width: 80px;
	padding: 10px;

}